<html>
 <head>
  <title>html 테스트</title>
 </head>
 <body>
   <h1>dasds</h1>
   <h2>adsugyusad</h2>
   <hr />
   <p>소보로빵은 빠삭빠삭한 <i>식감으로 <b>튀겨서</b></i> 맛있습니다.</p>
   <p><b>테스트</b></p>
  <address>
    <p><a href="mailto:seojinlee55@naver.com">
      seojinlee55@.naver.com로 메일 보내기</a></p>
  </address>
  <ol>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
  </ol>
  <ul>
    <li>test1</li>
    <li>test2</li>
    <li>test3</li>
  </ul>
  <img src="C:\Users\jelly i7_2\Desktop\test.JPG" alt="A family of" width="600" height="600"/>
  <p>소보로빵 15000원</p>
  <hr />
  <img src="C:\Users\jelly i7_2\Desktop\test.JPG" alt="A family of" width="600" height="600"/>
  <p>단팥빵 800원</p>
 </body>
</html>
