<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>formDemo.html</title>
    <meta charset = "UTF-8" />
  </head>
  <body>
    <h1>Select Room</h1>
    <form>
       <fieldset>
          <legend>selecting room</legend>
          <p>
             <label>Select list</label>
             <select id = "room_number">
               <option value = "101">101</option>
               <option value = "102">102</option>
               <option value = "103">103</option>
               <option value = "104">104</option>
               <option value = "105">105</option>
             </select>
          </p>
       </fieldset>
    </form>
  </body>
</html>
